{% extends 'events/base.html' %}

{% block content %}
    {%  if user.is_authenticated %}    
    
        <h2>Add Game room</h2>
        <br/><br/>

        {% if submitted %}
            Your room was successfully submitted
        {% else %}
            <form action="" method=POST>
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="Submit" class="btn btn-secondary">
            </form>
        {% endif %}
    {% else %}
    <h2>You must login to view this page</h2>
    {% endif %}
        
    
{% endblock %}