{% extends 'events/base.html' %}

{% block content %}
    <h2>Login</h2>
    <br/><br/>

    <form action="" method=POST>
        {% csrf_token %}
        <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">User Name</label>
              <input type="test" class="form-control" name="username" aria-describedby="emailHelp">
              
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" name="password">
            </div>



        <input type="submit"
        value="Login" 
        class="btn btn-secondary">
        
    </form>

    
{% endblock %}