{% extends 'events/base.html' %}

{% block content %}
    
 
    <h2>Games List</h2>
    Click on game for more information<br/><br/>
    
    {% for game in game_list %}
        
        <a  href="{% url 'show-game' game.id %}">{{ game }}</a>
        <ul>
            
            <li>Date & Time: {{ game.game_date }}</li>
            <li>Room #: {{ game.game_room }}</li>
            <li>Hosted By: {{ game.table_host }}</li>
        </ul>
        <a href="{% url 'update-game' game.id %}"
        class="btn btn-outline-secondary btn-sm">Update</a>         <a href="{% url 'delete-game' game.id %}"
        class="btn btn-outline-danger btn-sm">Delete</a> <br/><br/>
    {% endfor %}
    
    
    
{% endblock %}