{% extends 'events/base.html' %}

{% block content %}
    
 
    <h2>Games List</h2>
    Click on game for more information<br/><br/>
    
    {% for game in game_list %}
        
        <a  href="{% url 'show-game' game.id %}">{{ game }}</a>
        <ul>
            
            <li>Date & Time: {{ game.game_date }}</li>
            <li>Room #: {{ game.game_room }}</li>
            <li>Hosted By: {{ game.table_host }}</li>

            </li>
        </ul>
    {% endfor %}
    
    
    
{% endblock %}