{% extends 'events/base.html' %}

{% block content %}
   
   
    <h2>
        {%  if user.is_authenticated %}
        Hello {{ name }}! 
        {% endif %}
        Events for {{ month }} {{ year }}</h2>
    <br/>

    {{ cal|safe }}
    
   
    <br/><br/><br/>

    {% if games_list %}
        {% for game in games_list %}
            {{ game }} -- {{ game.game_date }} <br/>
        {% endfor %}
    {% else %}
    Sorry, there are no games this month. Check the Games list page for additional games coming up.
    {% endif %}

    {% endblock %}


